name: "clang-format"
on:
  - pull_request
jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout codebase"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: "Run clang-format"
        uses: solarcaratuva/clang-format-action-1@f24f0b678d96ba34d523d90ed5f07a058c8a05d3
        with:
          commit: "remotes/origin/master"
      - name: "Commit and push changes"
        run: |
          sudo git config user.name "GitHub Action"
          sudo git config user.email "actions@github.com"
          sudo git add .
          sudo git commit -m "Apply clang-format changes" && sudo git push || echo "No changes to commit"
